package main

import (
	"github.com/milvus-io/milvus-sdk-go/milvus"
)

func main() {
	// create client
	clientgrpc := milvus.Milvusclient{}
	client = milvus.NewMilvusClient(clientgrpc.Instance)
	err = client.Connect(milvus.ConnectParam{
		IPAddress: hostaddr,
		Port:      hostport,
	})

	// setup storage
	// * create collection
	status, err = client.CreateCollection(milvus.CollectionParam{
		CollectionName: collectionname,
		Dimension:      int64(vectordimension),
		IndexFileSize:  100,
		MetricType:     int64(milvus.L2),
	})

	// * create index
	status, err = client.CreateIndex(&milvus.IndexParam{
		CollectionName: collectionname,
		IndexType:      milvus.IVFFLAT,
		ExtraParams:    `{"nlist" : 16384}`,
	})

	// * load collection
	status, err = client.LoadCollection(milvus.LoadCollectionParam{
		CollectionName:   collectionname,
		PartitionTagList: nil,
	})

	// usage
	// * inserting entity
	_, status, err := client.Insert(&milvus.InsertParam{
		CollectionName: collectionname,
		RecordArray:    records,
	})

	// * search entity
	results, status, err := client.Search(milvus.SearchParam{
		CollectionName: collectionname,
		QueryEntities: []milvus.Entity{
			{FloatData: searchvector},
			// {FloatData: searchvector},
		},
		Topk:        10,
		ExtraParams: `{"nprobe" : 32}`,
	})
}
